In [1]:
import pandas as pd
import json

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data = data.loc[(data['year']>=2005)&(data['year']<=2015)]

In [4]:
overall = data.groupby('year')[['suicides_no','population']].apply(lambda x: x['suicides_no'].sum()/x['population'].sum()*100).to_list()

In [5]:
total_overall = {}
for i in range(2005,2016):
    inner_dict = {}
    inner_dict['year'] = str(i)
    inner_dict['suicide_rate'] = overall[i-2005]
    total_overall[str(i)]=inner_dict

In [6]:
country_suicide = data.groupby(['year','country'])[['suicides_no','population']].apply(lambda x: x['suicides_no'].sum()/x['population'].sum()*100).to_frame().reset_index().rename(columns={0:'suicide_rate'})

In [7]:
GDP_country = data.groupby(['year','country'])['gdp_per_capita ($)'].mean().to_frame().rename(columns={0:'GDP per capita'}).reset_index()

In [8]:
data[data['country']=='Japan']

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
13604,Japan,2005,male,55-74 years,8005,15797130,50.67,Japan2005,0.874,"4,755,410,630,912",39412,Silent
13605,Japan,2005,male,35-54 years,8073,16566953,48.73,Japan2005,0.874,"4,755,410,630,912",39412,Boomers
13606,Japan,2005,male,75+ years,1858,4288706,43.32,Japan2005,0.874,"4,755,410,630,912",39412,Silent
13607,Japan,2005,male,25-34 years,2862,8984855,31.85,Japan2005,0.874,"4,755,410,630,912",39412,Generation X
13608,Japan,2005,female,75+ years,1600,7307828,21.89,Japan2005,0.874,"4,755,410,630,912",39412,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
13731,Japan,2015,female,35-54 years,2024,16991218,11.91,Japan2015,NaN,"4,394,977,752,878",36510,Generation X
13732,Japan,2015,female,25-34 years,685,6614211,10.36,Japan2015,NaN,"4,394,977,752,878",36510,Millenials
13733,Japan,2015,female,15-24 years,408,5772938,7.07,Japan2015,NaN,"4,394,977,752,878",36510,Millenials
13734,Japan,2015,male,5-14 years,62,5553851,1.12,Japan2015,NaN,"4,394,977,752,878",36510,Generation Z
13735,Japan,2015,female,5-14 years,28,5287719,0.53,Japan2015,NaN,"4,394,977,752,878",36510,Generation Z

In [9]:
graph2 = country_suicide.merge(GDP_country)

In [10]:
graph2['output'] = graph2.apply(lambda x:[x['suicide_rate'],x['gdp_per_capita ($)']],axis=1)

In [11]:
graph2.head(2)

   year              country  suicide_rate  gdp_per_capita ($)        output
0  2005              Albania           0.0                2931   [0.0, 2931]
1  2005  Antigua and Barbuda           0.0               12649  [0.0, 12649]

In [12]:
graph2_dict = {}
for i in range(2005,2016):
    inner = graph2.loc[graph2['year']==i]
    value = inner['output'].values
    countries = inner['country'].values
    inner_dict = {}
    for j in range(len(countries)):
        inner_dict[countries[j]]=value[j]
    graph2_dict[str(i)] = inner_dict

In [40]:
out1 = {}
for i in range(2005,2016):
    inner = data.loc[data['year']==i]
    yearlist = []
    a = inner.groupby('age')['suicides_no'].sum().to_frame().reset_index()
    a['proportion'] = a['suicides_no'].apply(lambda x: x/a['suicides_no'].sum()*100)
    age = a['age'].values 
    prop = a['proportion'].values
    for j in range(len(age)):
        inner1 = {}
        inner1['name']=age[j]
        inner1['weight'] = prop[j]
        yearlist+=[inner1]
    out1[str(i)]=yearlist

In [42]:
output = [total_overall,graph2_dict,out1]

In [43]:
with open('dataset1.json', 'w') as fp:
    json.dump(output, fp)

In [90]:
out = []
for i in range(2005,2016):
    out+=[str(i)]

In [92]:
import numpy as np
np.array(out)

array(['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'], dtype='<U4')

In [117]:
data.groupby(['year'])['country'].nunique()

year
2005    84
2006    85
2007    86
2008    85
2009    89
2010    88
2011    86
2012    81
2013    80
2014    78
2015    62
Name: country, dtype: int64

In [119]:
out = []
for i in range(89):
    out+=[{}]

In [121]:
np.array(out)

array([{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}], dtype=object)